# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignore secrets and config files
.env
config.json
secrets.json

# Ignore logs and temporary files
logs/
*.log
*.out
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/